
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
	margin:0;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 100vh;
}
.container{
	margin: 0 auto;
	text-align:center;
}
h1{
	font-size: 24px;
	margin: 1em 0;
}
p{
	line-height: 1.7rem;
}
#left{
	color: white;
	float: left;
	background-color: green;
	padding: 1em;
}
#right{
	float:right;
	background-color: white
	margin: 2em 0 1em;
}
#right, #left{
	width: 50%;
	padding: ;
}
form{
	padding: .5em;
	outline: none;
}
#button{
	background: #EEEEEE;
	outline: none;
	outline-offset: none;
}