@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
	margin:0;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 100vh;
}
.container{
	margin: 0 auto;
	text-align:center;
}
h1{
	font-size: 35px;
	margin: 1em 0;
	text-align: middle;
}
p{
	line-height: 2.5rem;
}
#left{
	color: white;
	background: rgb(41,165,170);
    background: linear-gradient(25deg, rgba(41,165,170,1) 0%, rgba(69,226,232,1) 100%);
	text-align: left;
	padding: 1em;
	height:100vh;
}
#right{
	background-color: white
	margin: 2em 0 1em;
}
#columns{
	display:grid;
	grid-template-columns: 50% auto;
}
form{
	padding: .5em;
	outline: none;
}
#button{
	background: #a6a6a6;
	outline: none;
	outline-offset: none;
	cursor: pointer;
}
img{
	width:35%;
	margin:0;
}